---
stylesheets:
 - /typetools/
---

$pink: #69f;

/* demo fonts */
{% for font in site.data.fonts.axes %}
    {% assign fontname = font[0] %}
    {% assign axes = font[1] %}
    @font-face {
        font-family: "{{fontname}}";
        src: url("typetools/fonts/{{fontname}}.woff2") format("woff2"),
            url("typetools/fonts/{{fontname}}.woff") format("woff");
        font-weight: 1 1000;
    }
{% endfor %}
/* end demo fonts */

#varbro-site {
    
    // override some TN stuff
    figure, figcaption {
        display: block;
        background: transparent;
        margin: 1rem auto;
        padding: 0;
        border: 0;
        text-align: left;
//         font-size: inherit;
    }
    
    article.article-news {
        header.breadcrumbs span {
            + span::before {
                content: " / ";
            }
            
            &:last-child:not(:first-child) {
                text-transform: none;
            }
        }
        
        .header-article-intro {
            h1 {
                line-height: 1;
                font-weight: 800;
                font-variation-settings: "opsz" 42;
                margin: 0;
                @media (min-width: 45rem) {
                    font-variation-settings: "opsz" 64;
                }
            }
        }
    
        section.section-article {
            h2 {
                font-size: 1.2rem;
                font-weight: 600;
                font-variation-settings: "opsz" 24;
                margin: 0 0 0.2em;
            }
        }
    }
    
    .content-filters h3 a {
        padding-left: 0;
        &::before {
            display: none;
        }
    }
    
    .content-filters ul ul {
        margin-bottom: 0;
    }
    
    .content-filters a {
        text-decoration: none;
    }
    
    .content-filters a.current {
        color: #777;
    }
    
    .content-main-full-height {
        min-height: calc(100vh - 5.625rem);
    }
    
    .foundry-color {
        color: #000000;
    }
    
    .header-foundry {
        background-color: #000000;
    }
    
    
    .header-foundry ul {
        margin-left: 0.5rem;
    }
    
    .article-news .section-article {
        img {
            width: 100% !important;
            height: auto !important;
        }
    }
    
    @media screen and (min-width: 56.25rem) {
        .header-foundry ul {
            margin-left: 2.625rem;
        }
    }
    
    #varbro-article-nav {
        font-weight: 300;
        label {
            font-weight: 500;
            &::after {
                content: ": ";
            }
        }
    }
    
@import "playground";
@import "specimens";
@import "examples";
@import "timeline";
}
