---
stylesheets:
 - /typetools/
---

/* demo fonts */
{% for font in site.data.fonts.axes %}
    {% assign fontname = font[0] %}
    {% assign axes = font[1] %}
    @font-face {
        font-family: "{{fontname}}";
        src: url("{{site.url}}/typetools/fonts/{{fontname}}.woff2") format("woff2"),
            url("{{site.url}}/typetools/fonts/{{fontname}}.woff") format("woff");
        font-weight: 1 1000;
    }
{% endfor %}
/* end demo fonts */

figure, figcaption {
    display: block;
    background: transparent;
    margin: 1rem auto;
    padding: 0;
    border: 0;
    text-align: left;
}

.content-filters a {
    text-decoration: none;
}

.content-main-full-height {
    min-height: calc(100vh - 5.625rem);
}

.foundry-color {
    color: #000000;
}

.header-foundry {
    background-color: #000000;
}


.header-foundry ul {
    margin-left: 0.5rem;
}

@media screen and (min-width: 56.25rem) {
    .header-foundry ul {
        margin-left: 2.625rem;
    }
}

@import "playground";