
@keyframes flex {
    0%, 100% {
        font-variation-settings: "wght" 100;
    }
    50% {
        font-variation-settings: "wght" 900;
    }
}

#my-demo {
    font-family: MomentumSansVariable;
    font-size: 96px;
    animation: flex 4s 1 ease-in-out;
    font-variation-settings: "wght" 100;
}