{% comment %}
    Take specimen data and translate it into real CSS,
    for use in other templates.
{% endcomment %}

{% assign params = include.params|default:include %}

{% assign layout = params.layout|default:"single-line" %}

{% assign background = params.background|default:"transparent" %}
{% assign foreground = params.foreground|default:"inherit" %}

{% assign nicefont = params.font|default:"Amstelvar-Alpha" %}

{% if site.data.fonts.axes[nicefont] %}
    {% assign fontfamily = nicefont %}
{% elsif site.data.fonts.names[nicefont] %}
    {% assign fontfamily = site.data.fonts.names[nicefont] %}
{% else %}
    {% assign fontfamily = "AmstelvarAlpha-VF" %}
{% endif %}

{% assign allaxes = site.data.fonts.axes[fontfamily] %}

{% assign fontsize = params.size|default:72|abs %}

{% if params.leading %}
    {% if params.leading < 6 %}
        {% assign lineheight = fontsize|times:params.leading %}
    {% else %}
        {% assign lineheight = params.leading|abs %}
    {% endif %}
{% else %}
    {% assign lineheight = fontsize|times:1.2 %}
{% endif %}

{% assign css_rules = site.emptyArray %}
{% assign fvs_verbose = site.emptyArray %}
{% assign fvs = site.emptyArray %}
{% assign specified = site.emptyArray %}
{% assign non_default = site.emptyArray %}

{% assign fontweight = "inherit" %}

{% for kv in allaxes %}
    {% assign tag = kv[0] %}
    {% assign axis = kv[1] %}
    {% assign tagsize = tag|size %}
    {% if tagsize == 4 %}
        {% if params.axes[tag] %}
            {% if tag == "wght" %}
                {% comment %} Special case, use font-weight instead of fvs wght {% endcomment %}
                {% assign fontweight = params.axes[tag] %}
            {% else %}
                {% capture fvsentry %}"{{tag}}" {{params.axes[tag]}}{% endcapture %}
                {% assign fvs = fvs|push:fvsentry %}
                {% assign fvs_verbose = fvs_verbose|push:fvsentry %}
            {% endif %}
            {% assign specified = specified|push:tag %}
            {% if params.axes[tag] != axis.default %}
                {% assign non_default = non_default|push:tag %}
            {% endif %}
        {% else %}
            {% unless tag == "wght" %}
                {% capture fvsentry %}"{{tag}}" {{axis.default}}{% endcapture %}
                {% assign fvs_verbose = fvs_verbose|push:fvsentry %}
            {% endunless %}
        {% endif %}
    {% endif %}
{% endfor %}

{% capture axis_listing %}
    <ul class='axes'>
    {% unless fontweight == "inherit" %}
        <li class="{% if specified contains "wght" %}highlight{% endif %} {% if non_default contains "wght" %}non-default{% endif %}">wght {{fontweight}}</li>
    {% endunless %}
    {% for rule in fvs_verbose %}
        {% assign tag = rule|slice:1,4 %}
        {% assign pointzero = rule|slice:-2,2 %}
        {% if pointzero == ".0" %}
            {% assign ruleint = rule|replace:".0","" %}
        {% else %}
            {% assign ruleint = rule %}
        {% endif %}
        <li class="{% if specified contains tag %}highlight{% endif %} {% if non_default contains tag %}non-default{% endif %}">{{ruleint|replace:'"',''}}</li>
    {% endfor %}
    </ul>
{% endcapture %}

{% capture css_whole %}
    color: {{foreground}};
    background: {{background}};
    font-family: "{{fontfamily}}";
    font-size: {{fontsize}}px;
    line-height: {{lineheight}}px;
    font-weight: {{fontweight}};
    font-variation-settings: {{fvs_verbose|join:","}};
{% endcapture %}

{% assign specimen_css = css_whole|replace:"\n    "," " %}
