<div class='example {{include.example.class}}'>
    {% if include.example.comparison %}
        <ul class='comparison'>
        {% for entry in include.example.comparison %}
            <li>{% include specimen.html params=entry playground=forloop.last %}</li>
        {% endfor %}
        </ul>
    {% elsif include.example.text %}
        {% include specimen.html params=include.example %}
    {% endif %}
    {% assign contentlength = include.example.content|trim|size %}
    {% if contentlength > 0 %}
        <div class='extra-content'>
            {{include.example.content}}
        </div>
    {% endif %}
</div>
