{% assign collection = site.collections|where:"label","examples"|first %}
{% assign example = collection.docs|where_exp:"doc","doc.url contains include.example"|first %}

<figure class='example {{example.class}}'>
    <figcaption>
        {% comment %}<h3>{{example.title}}</h3>{% endcomment %}
        {{example.description|markdownify}}
    </figcaption>

    {% include example.html example=example %}

    {% if example.playground and playground_button %}
    <ul class='example-links'>
<!--         <li class="permalink"><a href="{{example.url}}">Permalink to this example</a></li> -->
        {% if playground_button %}
        <li>{{playground_button}}</li>
        {% endif %}
    </ul>
    {% endif %}
</figure>
