{% assign collection = site.collections|where:"label","examples"|first %}
{% assign example = collection.docs|where_exp:"doc","doc.url contains include.example"|first %}

<figure class='example'>
    {% include example.html example=example %}
    <figcaption>
        <h3>{{example.title}}</h3>
        <div class='description'>
            {{example.description|markdownify}}
        </div>
        <ul class='example-links'>
            <li class="permalink"><a href="{{example.url}}">Permalink to this example</a></li>
            {% if playground_button %}
            <li>{{playground_button}}</li>
            {% endif %}
        </ul>
    </figcaption>
</figure>
