{% assign collection = site.collections|where:"label","examples"|first %}
{% assign example = collection.docs|where_exp:"doc","doc.url contains include.example"|first %}

<figure class='example {{example.class}}'>
    <figcaption>
        {% if page.layout != 'example' %}<h3>{{example.title}}</h3>{% endif %}
        {{example.description|markdownify}}
    </figcaption>

    {% include example.html example=example %}

    <ul class='example-links'>
        <li class="permalink"><a href="{{example.url}}">Permalink to this example</a></li>
        {% if playground_button %}
        <li>{{playground_button}}</li>
        {% endif %}
    </ul>
</figure>
