<h3>Overview</h3>
<ul>
    <li><a href="/">Thirty to three billion users in three years</a></li>
    <li><a href="/topics/overview/primer">An old and stable font format</a></li>
    <li><a href="/topics/overview/variations">Typographic enhancement with variable fonts</a></li>
    <li><a href="/topics/overview/examples">Suggestions for using variable fonts</a></li>
</ul>

<h3>Scripts</h3>
<ul>
    <li><a href="/topics/scripts/">Scripts primer</a></li>
    <li><a href="/topics/scripts/variations">Multiple scripts</a></li>
    <li>Example: <ul>
        <li><a href="/topics/scripts/examples">Multiscript alignment</a></li>
        </ul></li>
</ul>

<h3>Families</h3>
<ul>
    <li><a href="/topics/families/">Families primer</a></li>
    <li><a href="/topics/families/variations">Variable families</a></li>
    <li>Examples: <ul>
        <li><a href="/examples/families/family-change-through-variations">A file with many families</a></li>
        <li><a href="/examples/families/file-size-benefits">File-size benefits</a></li>
    </ul></li>
</ul>

<h3>Styles</h3>
<ul>
    <li><a href="/topics/styles/">Styles primer</a></li>
    <li><a href="/topics/styles/variations">Styles, meet instances</a></li>
    <li><a href="/topics/styles/examples">Examples</a></li>
</ul>

<h3>Size</h3>
<ul>
    <li><a href="/topics/size/">Size primer</a></li>
    <li><a href="/topics/size/variations">Fluid size</a></li>
    <li>Examples: <ul>
        <li><a href="/topics/size/opsz-examples">The magic of optical size</a></li>
        <li><a href="/topics/size/logo-example">Logo sizing</a></li>
        <li><a href="/topics/size/headline-tweaker">Headline tweaker</a></li>
    </ul></li>
</ul>

<h3>Spacing</h3>
<ul>
    <li><a href="/topics/spacing/">Spacing primer</a></li>
    <li><a href="/topics/spacing/variations">Responsive spacing</a></li>
    <li><a href="/topics/spacing/examples">Examples</a></li>
</ul>
