{% assign params = include.params|default:include %}

{% include _specimen-vars.html params=params %}

{% assign playground_button = "<form class='playground-butt'><button type='button' class='open-playground'>Experiment!</button></form>" %}

{% assign layout = params.layout|default:"single-line" %}

{% if params.lines %}
    <figure class="specimen {{layout}}"{% if params.css %} style="{% for kv in params.css %}{{kv[0]}}:{{kv[1]}};{% endfor %}"{% endif %}>
    {% for line in params.lines %}
        {% include specimen.html params=line %}
    {% endfor %}
    {{playground_button}}
    </figure>
{% else %}

    {% assign element = params.element|default:"figure" %}
    
    <{{element}} class='specimen {{layout}} {{params.class}}'>
        <span class='rendered' style='{{specimen_css}}'>{{params.text|default:"Example"}}</span>
        {% if element == "figure" %}
            <figcaption>
                {% if params.label %}
                    <label>{{ params.label }}</label>
                {% endif %}
        {% else %}
            <!-- lists can't be inside most text elements -->
            </{{element}}>
        {% endif %}
    
        {% unless params.label %}
            {{axis_listing}}
        {% endunless %}
    {% if element == "figure" %}
        </figcaption>
    
        {{playground_button}}
        </figure>
    {% endif %}

{% endif %}