
.example {
    ul.comparison {
        margin: 0;
        padding: 0;
        > li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}

#size-benefit-demo {
    position: relative;
    
    fieldset {
        position: relative;
        display: inline-block;
        border: none;
        padding: 0;
        margin: 0;
    }

    label {
        display: block;
        font-family: inherit;
        text-transform: none;
        font-size: 1rem;
        line-height: 1;
        margin-bottom: 0.5em;
        
        input {
            vertical-align: baseline;
            margin-right: 0.5em;
        }
        
        strong {
            font-variation-settings: "wght" 700;
        }
    }

    #size-benefit-total {
        margin-top: 1em;
        
        output {
            display: block;
            border: 1px solid #999;
            padding: 2px;
            width: 6em;
            font-size: 1.2rem;
            
            &::after {
                content: " KB";
            }
        }
    }

    $output-width: 3em;

    output.bar {
        display: block;
        position: absolute;
        bottom: 0;
        width: $output-width;
        transition: height 0.25s ease-in-out;
    }
    
    #size-benefit-singles-bar {
        background: black;
        height: 3em;
        left: calc(100% + 2em);
    }
    
    #size-benefit-VF-bar {
        background: $pink;
        height: 3em;
        left: calc(100% + 2em + #{$output-width} + 2em);
    }
}