
.example {
    max-width: none;

    figure {
        margin: 0;
    }

    &:not(.compact) {
        margin: 2rem -1.5rem;
        padding: 1rem 1.5rem;
        background: #F0F0F0;
    }

    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .example {
        margin: 0;
        padding: 0;
        background: transparent;
    }
    
    > figcaption {
        margin-top: 0;
        line-height: 1.4;
        > :first-child {
            margin-top: 0;
        }
    }

    ul.comparison {
        padding: 1rem;
        background: white;
        > li + li {
            margin-top: 1rem;
        }
        figure {
            padding: 0;
        }
    }
    
    &.compact {
        > figcaption {
            display: none;
        }
    }
    
    &.side-by-side ul.comparison {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        
        > li {
            margin: 0;
        }
    }
    
    &.inline {
    }
    
    .extra-content:not(:empty) {
        background: white;
        padding: 1rem;
    }

    &.grey {
        ul.comparison, .extra-content {
            background: transparent;
            padding: 0;
        }
    }
    
    ul.example-links {
        margin-top: 1rem;
        li {
            font-size: 90%;
            display: inline;
            
            + li::before {
                content: " | ";
            }
        }
    }
}

#standalone-example .example .permalink {
    display: none;
    + li::before {
        content: none;
    }
}

#size-benefit-demo {
    position: relative;
    
    fieldset {
        position: relative;
        display: inline-block;
        border: none;
        padding: 0;
        margin: 0;
    }

    label {
        display: block;
        font-family: inherit;
        text-transform: none;
        font-size: 1rem;
        line-height: 1;
        margin-bottom: 0.5em;
        
        input {
            vertical-align: baseline;
            margin-right: 0.5em;
        }
        
        strong {
            font-variation-settings: "wght" 700;
        }
    }

    #size-benefit-total {
        margin-top: 1em;
        
        output {
            display: block;
            border: 1px solid #999;
            padding: 2px;
            width: 6em;
            font-size: 1.2rem;
            
            &::after {
                content: " KB";
            }
        }
    }

    $output-width: 3em;

    output.bar {
        display: block;
        position: absolute;
        bottom: 0;
        width: $output-width;
        transition: height 0.25s ease-in-out;
        
        span {
            position: absolute;
            bottom: 0;
            left: 2em;
            transform: rotateZ(-90deg);
            transform-origin: left bottom;
            white-space: nowrap;
            padding: 0.5em;
            font-family: "Roboto-VF";
            font-variation-settings: "wdth" 80;
        }
    }
    
    #size-benefit-singles-bar {
        background: black;
        height: 3em;
        left: calc(100% + 2em);
        span {
            color: white;
            text-shadow: 0 0 1px black;
        }
    }
    
    #size-benefit-VF-bar {
        background: $pink;
        height: 3em;
        left: calc(100% + 2em + #{$output-width} + 2em);
        span {
            color: white;
        }
    }
}