
#playground-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    margin: 0;
    background: rgba(0,0,0,0.9);
    padding: 5vh;
    z-index: 10000;
    
    button.close {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        padding: 0.5em;
        font-size: 2rem;
        line-height: 0.7;
        color: #999;
        border: none;
    }
}

#playground {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: white;
    padding: 1rem;
    .frame {
        position: absolute;
        border: 1px solid #999;
        
        &::after {
            position: absolute;
            display: block;
            font-family: sans-serif;
            font-size: 12px;
            color: #999;
            top: 0.5em;
            right: 0.5em;
        }
        
        .editor {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.5em;
            font-family: monospace;
            overflow: scroll;
            white-space: pre-wrap;
        }
    }
    .output {
        top: 0;
        left: 0;
        right: 0;
        height: 50%;
        background: #F0F0F0;
        
        &::after {
            content: "Output";
        }
        
        iframe {
            display: block;
            overflow: auto;
            background: white;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid black;
            resize: both;
            height: calc(100% - 2rem);
            margin-top: 1rem;
        }
    }
    .html {
        left: 0;
        bottom: 0;
        height: 50%;
        width: 50%;
        
        &::after {
            content: "HTML";
        }
    }
    .css {
        right: 0;
        bottom: 0;
        height: 50%;
        width: 50%;
        
        &::after {
            content: "CSS";
        }
    }
}