
.specimen {
    figcaption {
        margin-top: 0;
        padding-top: 0;
    }
}

.specimen ul.axes, .specimen + ul.axes {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 0.625rem;
    > li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline;
        white-space: nowrap;
        color: #444;
        
        &:not(:last-child)::after {
            content: ", ";
        }
        
        &.highlight {
            color: $pink;
        }
        
        &.non-default {
            color: $pink;
        }
    }
}

.specimen.editorial {
    ul.axes {
         display: none;
         position: absolute;
         margin-top: -0.5em;
    }

    .specimen:hover + ul.axes {
        display: block;
    }
}

h1.specimen, h2.specimen, p.specimen {
    margin: 1rem 0 -0.2em;
    padding: 0;
    
    &:first-child {
        margin-top: -0.1em;
    }
    
    + ul.axes {
        margin-top: 0.5em;
    }
}