
.specimen {
    figcaption {
        margin-top: 0;
        padding-top: 0;
    }

    ul.axes {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 0.75rem;
        > li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: inline;
            white-space: nowrap;
            color: #444;
            
            &:not(:last-child)::after {
                content: ", ";
            }
            
            &.highlight {
                color: $pink;
            }
            
            &.non-default {
                color: $pink;
            }
        }
    }

}