
figure.specimen {
    position: relative;
    background: white;
    padding: 1rem;
    
    span.rendered {
        display: inline-block;
        margin-bottom: -0.125em;
    }
    
/*
    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
*/
    
    figcaption {
        margin: 0;
        padding: 0;
        
        label {
            color: $pink;
        }
    }
    
    form.playground-butt {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    &:hover form.playground-butt {
        display: block;
    }

    ul.axes {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 0.625rem;
        > li {
            display: none;
            list-style: none;
            margin: 0;
            padding: 0;
            white-space: nowrap;
            color: #444;
            
            &:not(:last-child)::after {
                content: "  ";
            }
            
            &.specified, &.non-default {
                display: inline;
                span {
                    color: $pink;
                }
            }
        }
    }
}


.specimen.editorial {
    padding: 0;
    background: transparent;
    
    ul.lines {
        background: white;
        padding: 1rem;
        > li {
            list-style: none;
            padding: 0;
            margin: 0;

            > * {
                position: relative;
                margin: 0;
                padding: 0;
                
                &.has-label {
                    padding-left: 2rem;
                }
        
                label {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    font-size: 1rem;
                    font-family: MomentumSansVariable, sans-serif;
                    font-size: 12px;
                    font-weight: normal;
                    color: #999;
                }
            }
        }
    }
    
    dl.line-axes {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: max-content auto;
        grid-gap: 0.5em 1em;
        align-items: center;
        
        dt {
            grid-column: 1;
        }
        
        dd {
            grid-column: 2;
        }
    }
}
