---
breadcrumbs: ["Families", "Example two"]
title: Fonts with file-size benefits
description: One of the most tangible advantages of variable fonts lies in their nimble performance. Traditionally, every additional style of a digital typeface meant an additional font file. By contrast, a variable font encompasses all styles in a _single_ file. On the web, this translates into faster load times—and happier users.
---

{% assign roboto = site.data.examples.roboto-size %}

<form id='size-benefit-demo'>
    <fieldset id='size-benefit-singles'>
    {% for single in roboto.singles %}
        {% assign filename = single[0] %}
        {% assign info = single[1] %}
        <label style='font-variation-settings: {% for axis in info.axes %}"{{axis[0]}}" {{axis[1]}}{% unless forloop.last %}, {% endunless %}{% endfor %}'><input type='checkbox' name='singles' value='{{info.kilobytes}}'{% if info.default %} checked{% endif %}>{{filename}} <strong>{{info.kilobytes}}K</strong></label>
    {% endfor %}
    
        <div id='size-benefit-total'>
            <label>Size of selected instances:</label>
            <output>00</output>
        </div>

        <output id='size-benefit-singles-bar' class='bar'><span>Roboto Classic</span></output>
        <output id='size-benefit-VF-bar' class='bar'><span>Roboto VF (399KB)</span></output>
    </fieldset>
    
</form>

<script>
doOnReady(function() {
    var form = document.getElementById('size-benefit-demo');
    var output = form.querySelector('#size-benefit-total output');
    var singlebar = document.getElementById('size-benefit-singles-bar');
    var varbar = document.getElementById('size-benefit-VF-bar');

    function getTotal(elements) {
        return Array.prototype.slice.call(elements).reduce(function(totes, input) { return totes + parseInt(input.value); }, 0);
    }
    
    //var totalheight = form.getBoundingClientRect().height;
    var singlestotal = getTotal(form.querySelectorAll('input[name=singles]'));
    var vftotal = {{roboto.var.kilobytes}};

    varbar.style.height = (100 * vftotal / singlestotal) + '%';

    form.addEventListener('change', function(evt) {
        var selectedtotal = getTotal(form.querySelectorAll('input[name=singles]:checked'));
        output.textContent = selectedtotal;
        singlebar.style.height = (100 * selectedtotal / singlestotal) + '%';
    });
    
    form.trigger('change');
});
</script>
