---
layout: base
---
<div class="wrapper ">

    <header class="header-global">
        <h1><a href="{{baseurl}}/">Type Network</a></h1>
    </header>

    <nav class="nav-global">
        <a class="nav-global-reveal" href="#">Menu</a>
        <ul>
<!--
            <li><a class="nav-home-link" href="https://www.typenetwork.com/">Home</a></li>
            <li><a href="http://store.typenetwork.com">Fonts</a></li>
            <li><a href="https://www.typenetwork.com/news">News</a></li>
            <li><a href="https://www.typenetwork.com/gallery" >Gallery</a></li>
-->
        </ul>
    </nav>
    
    <nav class="nav-user">
        <a class="nav-user-reveal" href="#">Menu</a>
        <ul>
<!--
            <li><a href="http://store.typenetwork.com/account/licenses" class="nav-user-account"></a></li>
            <li><a href="http://store.typenetwork.com/account/favorites" class="nav-user-favorites"></a></li>
            <li><a href="http://store.typenetwork.com/cart" class="nav-user-cart"></a></li>
-->
        </ul>
    </nav>
    
    <aside class="content-filters">
        <a class="content-filters-close" href="#">Close</a>

        {% include sidebar.html %}

    </aside>

    <div class="content-main">
        <div class='content-main-full-height'>
            <a class="content-options-show-filters" href="#">Sidebar</a>
            {{content}}
        </div>

        <footer class="footer-global">
            <ul>
                <li><a href="https://www.typenetwork.com/about">About Type Network</a></li>
                <li><a href="https://www.typenetwork.com/about#subscribe">Subscribe to the Newsletter</a></li>
                <li><a href="https://www.typenetwork.com/support">Help and Support</a></li>
            </ul>
            <p>&copy; Copyright Type Network 2018. All Rights Reserved.</p>
        </footer>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://www.typenetwork.com/assets_content/js/libs/picturefill.min.js"></script>
<script src="https://www.typenetwork.com/assets_content/js/functions.js"></script>
